@import url('./styles/block.css');
@import url('./styles/inline.css');
@import url('./styles/inline-block.css');
@import url('./styles/table.css');
@import url('./styles/flex.css');
@import url('./styles/grid.css');
@import url('./styles/none.css');
@import url('./styles/inherit.css');
@import url('./styles/unset.css');
@import url('./styles/initial.css');
@import url('./styles/run-in.css');
@import url('./styles/flow-root.css');
@import url('./styles/contents.css');

/* Basic Setup */

body {
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #263238;
  background: #009688;
}
* { box-sizing: border-box }
h1 { 
  color: #009688; 
  margin-left: .5rem;
}
h2 {
  text-align: right;
  color: #E91E63;
  margin: 0 0 .5rem 0;
}
h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0 .05rem 0 0;
  display: inline;
}
h3 svg { height: 1rem; }
p {
  display: none;
  padding: 0;
}
img { 
  height: 1.25rem;
  margin-right: .25rem;
}
nav {
  background: #009688;
  margin: 0 -1rem;
  display: flex;
  justify-content: flex-end;
}
nav img { height: 1rem; }
nav a {
  display: block;
  padding: 1rem;
}
.main-content { 
  background: #fafafa;
  padding: 1rem;
  margin: 0 -1rem;
}
label {
  display: block;
  margin: 0 0 1rem .5rem;
}
select {
  color: #263238;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  border-color: #009688;
}
section {
  box-shadow: 0 1px 2px 0px rgba(0,0,0,.2), 
              0 1px 3px 0px rgba(0,0,0,.1);
  padding: 1rem;
  margin: 1rem .5rem;
  min-height: 400px;
}

.example { color: white; }

iframe {
  border: none;
  height: 350px;
}

.first {  background: #E91E63; }
.second { background: #8BC34A; }
.third { background: #3F51B5; }
.fourth { background: #009688; }
.fifth { background: #9C27B0; }
.sixth { background: #FFC107; }
.seventh { background: #607D8B; }
.eighth { background: #02A9F4; }

div.experimental { display: none; }
div.experimental h3 { color: #607D8B; }
.run-in .experimental,
.flow-root .experimental,
.contents .experimental {
  margin-top: 3em;
  display: block; 
}
.run-in tbody tr.run-in,
.flow-root tbody tr.flow-root,
.contents tbody tr.contents { 
  display: table-row;
}


.experimental tbody tr { display: none; }
.svg-container {
  display: inline-block;
  width: 1.25rem;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #263238;
}
tr { border-bottom: solid .0625rem #E0E0E0; }
td, th { padding: .5rem; }
th {
  padding: .5rem;
  font-size: .875rem;
  color: #757575;
  font-weight: 400;
  text-align: left;
}

.flow-root div { display: none; }
.flow-root h3 {
  display: block;
  font-size: 1.25rem;  
}

footer {
  padding: 1rem;
  margin: 1rem -1rem 0;
  background: #009688;
  color: white;
  font-size: .875rem;
  font-weight: 400;
}

@media (min-width: 750px) {
  main { 
    display: flex;
    margin: 0 -.5rem;
    font-weight: 500;
  }
  section.example { 
    flex: 66% 0 1;
    margin: 0 1rem;
  }
  section.code {
    flex: 33% 0 1;
    margin: 0 1rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


