.table {
  display: table;
  width: 100%;
  color: #424242;
  border-collapse: collapse;
}

.table .column:first-of-type { background: #FFF59D; }

.header { 
  display: table-header-group;
  color: #757575;
  font-size: .875rem;
}
.column { display: table-column-group; }
.row { display: table-row; }
.cell { 
  display: table-cell;
  border: solid 1px #BDBDBD;
}
.footer { display: table-footer-group }
